/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro';
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  color: #274daf;
}

h5 {
  color: #7393c1;
  margin-bottom: 20px;
  font-size: 14px;
}

span {
  display: inline-block;
  max-width: 100px;
  margin-left: 10px;
}

[class*="col-"] {
  /* debug */
  /* background-color: pink; */
  /* min-height: 100px; */
  /* border: 1px solid black; */
  /* fine debug */
}

section {
  /* debug */
  min-height: 150px;
  /* background-color: red; */
  border: 1px solid black;
  margin-bottom: 10px;
  /* fine debug */
}

ul li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* REGOLE JUMBOTRON */
#jumbotron {
  background: linear-gradient(30deg, #225393, #002351);
  color: #7393c1;
  padding-top: 30px;
}

#jumbotron h2 {
  color: #fff;
  margin: 50px 0;
}

#jumbotron p {
  margin: 50px 0;
  font-size: 24px;
}

#jumbotron ul li {
  display: inline-block;
  margin-right: 10px;
}

.clock-img {
  margin-top: 100px;
}

.icona {
  opacity: 0.4;
}

.hero-img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

/* REGOLE SEZIONE PLAN */
#plan h2 {
  margin-top: 30px;
}

#plan p {
  color: #9ba6b7;
}

.sottotitolo {
  padding: 20px 0;
  max-width: 50%;
  margin: 0 auto;
}

#plan .container div:first-child {
  text-align: center;
}

#plan img {
  width: 100%;
}

.plan-left {
  text-align: right;
  margin-top: 10%;
}

.plan-right {
  text-align: left;
  margin-top: 15%;
}

/* REGOLE SEZIONE FOCUS */
#focus {
  text-align: center;
  background-color: #2a4b77;
  color: #fff;
  padding-bottom: 100px;
}

#focus h2 {
  margin-top: 50px;
}

#focus h3 {
  margin-top: 20px;
}

#focus p {
  color: #7393c1;
}

#focus p:not(.sottotitolo) {
  margin: 10px 0;
}

#focus .sottotitolo {
  margin-bottom: 20px;
}

/* REGOLE SEZIONE TRACK */
#track {
  text-align: center;
  padding-top: 50px;
}

#track p {
  color: #9ba6b7;
}

.track-img-left {
  text-align: right;
}

.track-img-right {
  text-align: left;
}

/* REGOLE FOOTER */
footer {
  /* debug */
  min-height: 100px;
  border: 1px solid black;
  /* fine debug */
  background-color: #113462;
  padding: 50px;
  color: #fff;
}

footer a {
  font-size: 14px;
}

/* REGOLE VERSIONE MOBILE */
@media screen and (max-width: 768px) {
  /* JUMBOTRON MOBILE */
  #jumbotron {
    text-align: center;
    padding-bottom: 20px;
  }

  /* PLAN MOBILE */
  .sottotitolo {
    padding: 20px 0;
    max-width: 80%;
    margin: 0 auto;
  }

  .plan-left, .plan-right {
    text-align: center;
    margin: 0;
  }

  #plan img {
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  /* FOCUS MOBILE */
  #focus {
    padding-bottom: 20px;
  }

  #focus p:not(.sottotitolo) {
    width: 80%;
    margin: 10px auto;
  }

  /* TRACK MOBILE */
  .track-img-left {
    text-align: center;
  }

  .track-img-right {
    text-align: center;
  }

  /* FOOTER MOBILE */
  footer {
    text-align: center;
  }

  .copy {
    margin-top: 50px;
  }
}

/* REGOLE VERSIONE TABLET */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* JUMBOTRON TABLET */
  #jumbotron {
    padding-bottom: 40px;
  }

  /* PLAN TABLET */
  #plan {
    padding-bottom: 40px;
  }

  .sottotitolo {
    padding: 20px 0;
    max-width: 80%;
    margin: 0 auto;
  }

  .plan-left, .plan-right {
    text-align: center;
    margin: 0;
  }

  #plan img {
    height: 500px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  /* FOCUS TABLET */
  #focus {
    padding-bottom: 40px;
  }
}
